<html>

<head>
    <title>Http Demo</title>
    <script src="../angular.js"></script>
    <script src="studentDemo.js"></script>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #d7e4db;
            background-color: rgb(9, 214, 77);
            text-align: center;
            padding: 10px;
        }

        td {
            background-color: rgb(255, 255, 255);
        }
    </style>
</head>

<body ng-app="HttpDemo" ng-controller="HttpController">
    <h2>Http Fetch Demo</h2>
    <button ng-click="fetch()">Fetch</button>
    <p>Status:{{status}}</p>
    <p>Response Data:</p><br>
    <table>
        <tr>
            <th>Roll Number</th>
            <th>Name</th>
            <th>Address</th>
            <th>Age</th>
        </tr>
        <tr ng-repeat="student in data">
            <td>{{student.rollNo}}</td>
            <td>{{student.name}}</td>
            <td>{{student.address}}</td>
            <td>{{student.age}}</td>
        </tr>
    </table>
</body>

</html>