body {
	background-color: gray;
}

.errorMessage {
	color: red;
	margin-left: 12px;
}

.check-with-label:checked+.label-for-check {
	text-decoration-line: line-through;
}

td, th {
	text-align: center;
}
.leftAlign {
	text-align: left;
}