table {
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #d7e4db;
    background-color: rgb(9, 214, 77);
    text-align: center;
    padding: 10px;
}

td {
    background-color: rgb(255, 255, 255);
}