<web-app>
	<servlet>
		<servlet-name>DisplayStudent</servlet-name>
		<jsp-file>/StudenDisplay.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>DisplayStudent</servlet-name>
		<url-pattern>/Display</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Login</servlet-name>
		<jsp-file>/Login.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>


</web-app>